body {
        background-image:url('https://tohno-chan.org/stylesheets/img/psp/pspbg.jpg') !important; 
        background-position: right top !important;
        background-attachment:fixed !important;
        background-color: #44a7d6;
	    color:#ffffff;
		        text-shadow:         0px 0px 6px #e3e3e3;
        font-family:calibri;

}
a:link, a:visited, .intro a.email span.name {
	color:#ffffff;
    text-shadow: 0px 0px 4px #0b458a;
    font-weight: bold;
}
a:hover {
	color:#2ac5e3;
    text-shadow: 0px 0px 4px #0b458a;
    font-weight: bold;
}
.reflink{
    /* WTF is this? */
	color:#0dc1bb !important;
	font-weight: bold;
}
.reflink a:hover{
	/* WTF is this? */
	font-weight: bold;
	color:#000000 !important;
	text-decoration: underline;
}
.adminbar {
	/* WTF is this? */   
	text-align:right;
	clear:both;
	float:right;
}

header div.boardname,h1 {
	/* board name, such as "/a/ - anime" */
	clear:both;
	text-align:center;
	font-size:2em;
	color:#ffffff;
	width:100%;
    font-weight: bold;
    text-shadow:         0px 0px 6px #e3e3e3;
 }
 
header div.subtitle {
	/* the text bellow the board name */
    color: #E5E5E5;
    font-size:15px;
	padding-bottom: 30px;
}


div.banner {
		/* posting mode bar at the top of the page */ 
	-moz-border-radius:5px;
	background:#e3e3e3 !important;
	color:#0a4283;
        -moz-box-shadow:    0px 0px 6px #e3e3e3;
        -webkit-box-shadow: 0px 0px 6px #e3e3e3;
        box-shadow:         0px 0px 6px #e3e3e3;
	font-weight:800;
        paddingt:2px;
	text-align:center;
	width:100%;
}
div.banner a {
		/* WTF is this? */ 
	color: #000000;
}

img.board_image
{
		/* WTF is this? */ 
border:solid 0px #000000 ;
}


.catalogmode {
		/* it's the catalog */ 
	background:#0040E0;
	text-align:center;
	padding:2px;
	color:#FFFFFF;
	width:100%;
}
.postarea {
}

.rules {
	/*font-size:0.7em;*/
	width: 468px;
	font-size: 10px;
	font-family: sans-serif;
}
.rules li {
	margin-left: 1em;
	/*text-indent: 0em;*/
}

.postblock {
    /* boxes such as name email and comment next to new post text input boxes */ 
	border-radius: 5px;
	border:solid 0px #000000 ;
	background:#e3e3e3 !important;
	color:#0a4283;
    box-shadow:         0px 0px 6px #e3e3e3;
	font-weight:800;
    padding-left:6px;
}

.postbuttons {
	/* WTF is this? */  
}



.footer {
	text-align:center;
	font-size:12px;
	font-family:serif;
}
.passvalid {
	background:#EEAA88;
	text-align:center;
	width:100%;
	color:#ffffff;
}
.dellist {
	font-weight: bold;
	text-align:center;
}
.delbuttons {
	text-align:center;
	padding-bottom:4px;

}
.managehead {
	background:#AAAA66;
	color:#400000;
	padding:0px;
}
.postlists {
	background:#FFFFFF;
	width:100%;
	padding:0px;
	color:#000000;
}
.row1 {
	background:#EEEECC;
	color:#000000;
}
.row2 {
	background:#DDDDAA;
	color:#000000;
}
.unkfunc {
	background:inherit;
	color:#789922;
}
.filesize {
	text-decoration:none;
}
.intro span.subject {
		/* This is where the subject of a post or thread goes */ 
	color: #000000;
	font-weight: bold;
	text-shadow:    0px 0px 6px #000000;
}
.intro span.name {
		/* This is a users name, typicaly Anonymous */ 
	color:#ffffff !important;
	font-weight: bold;
}
.postertrip {
	color:#338099 !important
}
.oldpost {
	color:#CC1105;
	font-weight:800;
}
.omittedposts {
	color:#707070;
}
div.post.reply {
	/* This is the comment or reply box found in a thread responding to the OP */ 
	background: #91aedc;
	color: #e5e5e5;
	border-radius: 10px;
	border: 0px solid #4b4b4b!important;
	width: 100% !important;
}


div.post.reply.highlighted {
		/* This is the comment or reply box WHEN HIGHLIGHTED */ 
	background-color:#1f137e !important;
	box-shadow:    0px 0px 6px #1f137e;
	padding:3px !important;
	border-radius: 10px;
	border: 0px solid #4B4B4B;
	width: 100% !important;
}

div.post.reply div.body a:link, div.post.reply div.body a:visited {
	color: #69ddd9;
}
div.post.reply div.body a:link:hover, div.post.reply div.body a:visited:hover {
	color: #000000;
}


.doubledash {
	color:#E5E5E5;
	padding-right: 3px;
	vertical-align: top;
}
.replytitle {
	font-size: 1.2em;
	color:#CC1105;
	font-weight:800;
}
.commentpostername {
			/* WTF is this? might be garbage */ 
	color:#ff00ff;
	font-weight:800;
}
.thumbnailmsg {
	font-size: small;
	color:#000000;
}

.abbrev {
	color:#707070;
}
.highlight {
background-color:#072e4f !important;
padding:3px !important;
-moz-border-radius:0px 6px 6px 0px !important;border: 1px solid #4B4B4B !important;width: 100% !important;
}

#watchedthreads {
	background-color: #F0E0D6 !important;
        border: 1px dotted #EEAA88;
}

.reflinkpreview {
	background-color: #333333 !important;
 -moz-border-radius:0px 6px 6px 0px !important;border: 1px solid #4b4b4b !important;

}

input[type="text"], textarea, select {
	/* text input boxes for making a new post */
	-moz-border-radius:5px;
	background:#91aedc;
	color:#ffffff;
    text-shadow: 3px 3px 5px #000000;
	-moz-box-shadow: inset 1px 1px 4px #000000;
	-webkit-box-shadow: inset 1px 1px 4px #000000;
	box-shadow: inset 1px 1px 4px #000000;
	font-weight:none;
	padding:1px;
	border: 0px solid #cecece;
}

input[type="button"] {
/* noko sage and BB code buttons around post box * also try class="btn"  */
	color:#ffffff; 
	font: bold 70% 'trebuchet ms',helvetica,sans-serif; 
	background-color:#91aedc; 
	border: 0px solid; 
	padding:4px;
	filter:progid:DXImageTransform.Microsoft.Gradient 
	(GradientType=0,StartColorStr='#ffffffff',EndColorStr='#ffeeddaa'); 
    text-shadow: -1px -1px 3px #000000;
	-moz-box-shadow: inset -1px -1px 4px #000000;
	-webkit-box-shadow: inset -1px -1px 4px #000000;
	box-shadow: inset -1px -1px 4px #000000;

}

input[type="submit" i]{
/* submit button ONLY next to post box*/
	color:#ffffff; 
	font: bold 70% 'trebuchet ms',helvetica,sans-serif; 
	background-color:#91aedc; 
	border: 0px solid; 
	padding:4px;
	filter:progid:DXImageTransform.Microsoft.Gradient 
	(GradientType=0,StartColorStr='#ffffffff',EndColorStr='#ffeeddaa'); 
    text-shadow: -1px -1px 3px #000000;
	-moz-box-shadow: inset -1px -1px 4px #000000;
	-webkit-box-shadow: inset -1px -1px 4px #000000;
	box-shadow: inset -1px -1px 4px #000000;
}

.boardinfo
{
font-weight:none;
font-size: 10pt;
color: #E5E5E5;
text-align: left;
padding:5px;
}

.hl
{
font-weight:bold;
font-size:10pt;
background-image:url(' ');
background-color: #9988EE !important;
padding:5px;
border: 1px solid #000000;  
}




.tablesub
{
font-weight:none;
color: #E5E5E5;
border:1px solid #000000;
background-color: #d6daf0!important;
padding:5px;
}

.tablesub:hover 
{
font-weight:none;
background-image:url(' ');
color:#0000ff;
background-color: #D6DAF0 !important;
font-size:10pt;
padding:5px;
border: 1px solid #000000; 
border-top: 1px solid #000000; 
border-left: 1px solid #000000; 
}


.picslot
{
font-weight:none;
background-image:url(' ');
background-color: #e3e3e3;
padding:4px;
border: 1px solid #000000;  
border-top: 1px solid #000000;
}


.picitself
{
img-position: center top !important;
filter:alpha(opacity=60);
opacity:0.9;
max-width:200px;
max-height:120px;
display: block;
margin-left: auto;
margin-right: auto
}

.banner
{ 
background: url(' '); 
background-position:center;
background-repeat:no-repeat !important;
padding: 0 6px 7px 0;
}

.fpfooter
{
background: url(' ');  
background-position:left; 
background-repeat:no-repeat !important;
height:60px;
top:30px;
padding-top:50px;
padding-bottom:-60px; 
margin-bottom:-50px;

}

/* ///////////////////// staff page elements bellow here ////////////////////////// */


/* rebuild page */ 
div.ban h2 {
    background: #072e4f;
    color: #E5E5E5;
    font-size: 12pt;
	border:1px solid #000000;
}

form table tr th {
/* bars on the top and side of the config editor page but also affects .postblock, use !important; on the post block so this doesn't effect that too */
border:1px solid #000000;
background-color: #072e4f!important;
}

table.mod.config-editor td {
/* devider line on config editor page */
    text-align: left;
    padding: 5px;
    border-bottom: 1px solid #000000;
}


table.modlog tr th {
/*bar on top of the mod/users page that lists off staff */
border:1px solid #000000;
background-color: #072e4f!important;
}

th.sortable {  
/*bar on top of the ban list page */
border:1px solid #000000;
background-color: #072e4f!important;
}

 .tabletop
 /* on the front page, this will be the bar that says boardmap recent images and so on. */
{
font-weight:bold;
color: #0a4283;
border:0px solid #000000;
background-color: #e3e3e3!important;
padding:5px;
}
 .tabletop2
{
    /* on the front page, this will be the bar that says recent posts. */  
font-weight:bold;
color: #0a4283;
border:0px solid #000000;
background-color: #e3e3e3;
padding:5px;
}

.tablesub
    /* on the front page, this is where the boards are listed as well as the recent posts */  
{
font-weight:none;
color: #E5E5E5;
border:0px solid #000000;
background-color: #91aedc!important;
padding:5px;
}

 .tablesub:hover 
     /* This is the tablesub element when you hover over it whith your mouse. */  
{
border:0px solid #000000;
background-color:#4697cc;
color:#E5E5E5;
font-weight:none;
font-size:10pt;
padding:5px;
}

.picslot
{
					/* space around recent image thumbnails on the front page */ 
font-weight:bold;
color: #0a4283;
border:0px solid #000000;
background-color: #e3e3e3;
padding:5px;
}

.picitself
					/* this can be used for adding effects to the recent image thumbnail, such as making it transparent */ 
{
img-position: center top !important;
filter:alpha(opacity=60);
opacity:0.9;
max-width:200px;
max-height:113px;
display: block;
 margin-left: auto;
margin-right: auto;
}

.reply blockquote, blockquote
{
margin-bottom:0;
padding-bottom:10px;
}


.NewsMenuCurrent
{
						/* currently selected tab on the front page, which doesn't work with main for some reason */ 
font-weight:bold;
color: #0a4283;
border:0px solid #000000;
background-color: #e3e3e3;
padding:5px;
}	

.NewsMenu
{
					/* tabs on the front page */ 
	border: 0px solid #E5E5E5;  
	padding-top: 3px; 
	padding-bottom: 2px; 
	padding-left: 10px; 
	padding-right: 10px; 
	background-color: #91aedc ;	
        color: #E5E5E5;
        background-repeat: no-repeat;
        repeat scroll 0;
        cursor: hand;
	cursor: pointer;
}

.NewsTitleStrip
{
				/* bar on the front page that says main */ 
font-weight:bold;
color: #0a4283;
border:0px solid #000000;
background-color: #e3e3e3;
padding:5px;
}

.NewsContent
{
	color: #E5E5E5;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 10pt;
}

hr {
			/* Divider line between posts */ 
	border-top: 1px solid #ffffff;
	box-shadow:         0px 0px 6px #e3e3e3;
        color:#297085;	
        height: 1px;
	margin-top: 5px;
	margin-bottom: 15px;
	float: clear;
	font-size: 0px; 
}

div.pages {
		/* board pages box on the bottom of a board page which also has the catalog link */ 
	color: #0a4283;
	background: #e3e3e3;
	border: #666666 0px solid;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 10pt;
	border-radius: 5px;
    box-shadow:         0px 0px 6px #e3e3e3;
}
div.pages a.selected {
	color:#2ac5e3;
}

input
{ 
		/* box with the choose file button and no file selected text */
font-weight:bold;
background:#91aedc; 
        box-shadow:         0px 0px 6px #e3e3e3;
padding:1px;
border: 0px solid #cecece; 
color:#ffffff;
}

.comment
{ 

font-weight:none;
background:#4B4B4B url( ) repeat scroll left top; 
padding:1px;
border: 1px solid #cecece; 
color:#E5E5E5;
}