<!doctype html>
<html>
<head>
	<title>{{ settings.title }}</title>
	<link rel="stylesheet" media="screen" href="{{ config.root }}{{ settings.css }}"/>
	{% if config.url_favicon %}<link rel="shortcut icon" href="{{ config.url_favicon }}" />{% endif %}
	{% include 'header.html' %}
  	<script src="slogan.js" defer></script>
</head>
<body>
	<header>
<center>
<div style="float:center;">
<img alt="logo" src="/images/main/logospin.gif" /><img alt="background" src="/images/main/sitefrontnew.png" />
</div>


		<div class="slogan"><p id="slogan"></p></div>
	</header>
<!--------------------------------------news tab test zone------------------------------------------------------>
		

<script type="text/javascript">

	var TAB_COUNT = 6;

	function ChangeTab(index)
	{
		for (var i = 0; i < TAB_COUNT; i++)
		{
			document.getElementById("Tab" + i).style.display = (i == index ? "block" : "none");
			document.getElementById("TabMenu" + i).className = (i == index ? "NewsMenuCurrent" : "NewsMenu");
		}
	}

</script>

<br/><br/>
<center><b>
 
<p style="color:#ff0000";>Goodbye, Kusaba!<br/>As of today, we're boldly going where every other imageboard has gone before by kicking Kusaba to the curb and moving forward with all-new software for Tohno-chan. <br/><br/>Not only that! You'll notice that we'll also be switching over to Tohno-chan.org, and https. <br/> </p>
</b></center>
<div class="NewsDiv">

	<table cellspacing="0px" cellpadding="0px">
		<tr>
			<td class="NewsMenu" onclick="ChangeTab(0);" id="TabMenu0" >
				Main
			</td>
			<td class="NewsMenu" onclick="ChangeTab(1);" id="TabMenu1" >
				News
			</td>
			<td class="NewsMenu" onclick="ChangeTab(2);" id="TabMenu2" >
				FAQ
			</td>
			<td class="NewsMenu" onclick="ChangeTab(3);" id="TabMenu3" >
				Rules
			</td>
			<td class="NewsMenu" onclick="ChangeTab(4);" id="TabMenu4" >
				Boards
			</td>
            <td class="NewsMenu" onclick="ChangeTab(5);" id="TabMenu5" >
				supporters
			</td>
		</tr>
	</table>




	<div id="Tab0">
                       <div class="NewsTitleStrip">Main</div>
		<div class="NewsContent">




<center>
<table width="90%" table  height="250"  cellpadding="5" cellspacing="0" >
  <tr>
<td><td  valign="top"><div class="recent_posts"><table width="100%"  cellpadding="0" cellspacing="1"></div>

<tr>
<tr>
<th class="tabletop" colspan="3">Board map</th>
</tr>

<tr>
<th class="tabletop" colspan="3">Media/Entertainment</th>
</tr>

<tr>
<td width="33%" class="tablesub"><div class="boards"><center><a href="/an/" TARGET="_top">/an/ - Anime</a></center></div></td>
<td width="33%" class="tablesub"><div class="boards"><center><a href="/ma/" TARGET="_top">/ma/ - Manga</a></center></div></td>
<td width="33%" class="tablesub"><div class="boards"><center><a href="/vg/" TARGET="_top">/vg/ - Video Games</a></center></div></td>


</tr>
<tr>
<td width="33%" class="tablesub"><div class="boards"><center><a href="/foe/" TARGET="_top">/foe/ - Touhou</a></center></div></td>
<td width="33%" class="tablesub"><div class="boards"><center><a href="/mp3/" TARGET="_top">/mp3/ - Music</a></center></div></td>
<td width="33%" class="tablesub"><div class="boards"><center><a href="/vn/" TARGET="_top">/vn/ - Visual Novels</a></center></div></td>
</tr>

<tr>
<th class="tabletop" colspan="3">Hobbies/Interests</th>
</tr>

<tr>
<td width="33%" class="tablesub"><div class="boards"><center><a href="/fig/" TARGET="_top">/fig/ - Collectibles</a></center></div></td>
<td width="33%" class="tablesub"><div class="boards"><center><a href="/navi/" TARGET="_top">/navi/ - Science & technology</a></center></div></td>
<td width="33%" class="tablesub"><div class="boards"><center><a href="/cr/" TARGET="_top">/cr/ - Creativity</a></center></div></td>

</tr>

<tr>
<th class="tabletop" colspan="3">General discussion</th>
</tr>

<tr>
<td width="33%" class="tablesub"><div class="boards"><center><a href="/so/" TARGET="_top">/so/ - Ronery</a></center></div></td>
<td width="33%" class="tablesub"><div class="boards"><center><a href="/mai/" TARGET="_top">/mai/ - Waifu</a></center></div></td>
<td width="33%" class="tablesub"><div class="boards"><center><a href="/ot/" TARGET="_top">/ot/ - Otaku Tangents</a></center></div></td>
</tr>

<tr>
<th class="tabletop" colspan="3">Other</th>
</tr>
<tr>
<td width="33%" class="tablesub"><div class="boards"><center><a href="/irc/" TARGET="_top">/irc/ - IRC</a></center></div></td>
<td width="33%" class="tablesub"><div class="boards"><center><a href="/ddl/" TARGET="_top">/ddl/ - Data</a></center></div></td>
<td width="33%" class="tablesub"><div class="boards"><center><a href="/arc/" TARGET="_top">/arc/ - Archive</a></center></div></td>
</tr>
<tr>
<td width="33%" class="tablesub"><div class="boards"><center><a href="/ns/" TARGET="_top">/ns/ - Hentai</a></center></div></td>
<td width="33%" class="tablesub"><div class="boards"><center><a href="/kf" TARGET="_top"> /kf/ - Kemono Friends</a></center></div></td>
<td width="33%" class="tablesub"><div class="boards"><center><a href="/pic/" TARGET="_top">/pic/ - Dump</a></center></div></td>
</tr>
<tr>
<td width="33%" class="tablesub"><div class="boards"><center><a href="/lol/" TARGET="_top">/lol/ - Funposting</a></center></div></td>
<td width="33%" class="tablesub"><div class="boards"><center><a href="/tat/" TARGET="_top">/tat/ - Debates</a></center></div></td>
<td width="33%" class="tablesub"><div class="boards"><center><a href="/fb/ " TARGET="_top">/fb/ - feedback</a></center></div></td>
</tr>
<td><br/> </td>



<?php




//Recent posts and Recent Images

//Get board info
$boards = array();
$results = $tc_db->

<table width="100%"  cellpadding="0" cellspacing="0" border="0px" bordercolor="#000000">
<tr BACKGROUND=""><TH colspan="5"  div style=" border: 0px solid #000000; "><div class="tabletop2">Recent posts

</div>
</tr>

{% for post in recent_posts %}
<tr> <td div style=" border: 0px solid #000000;  padding-top : 1px;border-top: 0px solid #000000;"> <div class="tablesub"><div class="replysub"	title="{{ post.body|striptags }}">
	{{ post.board_name }}: 
	<a href="{{ post.link }}">
	{{ post.snippet }}
	{% endfor %}</a></div></td></tr>

</table></td>

<td><td style="vertical-align:top"><div class="recent_posts"><table width="100%"  cellpadding="0" cellspacing="0" border="0px" bordercolor="#0000ff">
<table div style="border-top: 0px solid #000000;">
<th div style=" border: 0px solid #000000; padding: 0px;"><div class="tabletop">Recent Images</div></th>


	{% for post in recent_images %}
	<tr>
    <td div style=" border: 0px solid #000000; padding: 0px; border-top: 0px solid #000000;"> <div class="picslot"> <div class="picitself"> <center> <a href="{{ post.link }}"> </div>
	<img src="{{ post.src }}"  border="0" /  div class="picitself">
				{% endfor %} </a></td></div>

</tr></table>

</tr>
</table>
</center>















		</div>
	</div>

<!--news tab-->
<div id="Tab1" style="display: none;">

		{% if news|length == 0 %}
			<p style="text-align:center" class="unimportant">(No news to show.)</p>
		{% else %}
			{% for entry in news %}
				<div class="NewsTitleStrip"><h2 id="{{ entry.id }}">
					{% if entry.subject %}
						{{ entry.subject }}
					{% else %}
						<em>no subject</em>
					{% endif %}
					<span class="unimportant"> &mdash; by {{ entry.name }} at {{ entry.time|date(config.post_date, config.timezone) }}</span>
				</h2></div>
				<div class="NewsContent"><p>{{ entry.body }}</p></div>
			{% endfor %}
		{% endif %}

<div class="NewsTitleStrip"> news subject </div>
<div class="NewsContent"> news content </div>

</div>









<!--faq tab-->
<div id="Tab2" style="display: none;">
<?php
//Faq
$results = $tc_db-><div class="NewsTitleStrip">'xxxxxxxxxxxxxx'</div>
<div class="NewsContent">'yyyyyyyyyyyyyy'</div>
<br/>
<br/>
<br/>
</div>


<!--rules tab-->
<div id="Tab3" style="display: none;">
<br/><br/>Tohno-chan is an anime-themed image board for NEETs, hikikomori, (true) otaku, and other social outcasts. Please take this into consideration when posting.
<br/><br/>_____

<br/><br/>The following rules apply to all parts of this website and our affiliate IRC channel:

<br/><br/>01) Uploading, posting, discussing, requesting, or linking to anything that violates local or United States law.
<br/>- Just covering our ass with this one, really.

<br/><br/>02) Advertising and/or spamming.
<br/>- By Advertising we refer to unsolicited links and/or referrals to any and all unwelcome content, unless it is directly related to the subject of the board it is posted on.
<br/>- Spamming refers to repeatedly and continuously posting large amounts of the same content.

<br/><br/>03) Ban evasion.
- When we place a ban it's probably for a damn good reason, avoiding it will not be tolerated.

<br/><br/>04) Posting or linking to 3D (real) pornography, Guro, or pictures of 3D (real) people.
<br/>- By 3D (real) pornography, we refer to pornographic videos and/or images depicting any and all real world humans regardless of age. This may also include life-like computer renderings of humans as well. Crazy as it might sound, we here do not much care for the sight of other human beings, especially in pornographic depictions. It makes many here uncomfortable to say the least.
<br/>- Posting landscapes, scenery, animals, and inanimate objects are fine though.
<br/>- By Guro we refer to material depicting extreme violence, torture, and/or mutilation.

<br/><br/>05) My Little Pony (MLP) or anything related to the related to 'furry' fandom, pornographic or not. (No Horo is not furry, stfu)
<br/>- We are not bronies, or furries, please take that stuff somewhere else.
<br/>- Exemptions may be made on /mai/ for some of what may be considered furry waifus on case by case situations. However, please refrain from posting images of Western media.

<br/><br/>06) Excessive blogging, especially about your or anyone else's sex life.
<br/>- By blogging we refer to the act of talking about one's self or your normal daily life. This is typical behavior to a degree, but by excessive we mean repeatedly making long winded posts (150+ words), or large amounts of these style of posts in a short time span. If it's a personal story or situation that other people may find interesting then that is acceptable.
<br/>- An exemption to this rule applies to /so/, as the board deals heavily in personal issues.

<br/><br/>07) /b/ Shit.
<br/>- This refers to the moronic meme spouting shitposting type of behavior you would find on the infamous /b/ boards of other imageboards.
<br/>- Examples of shitposting includes "GET" threads, which are threads/posts created solely to point out having multiple instances of the same number in your post (such as having post no.5555). greentexting, which is the style of posting which uses a > at the start of every sentence, rather than using them for quotes as they're intended, as well as making said sentences in malformed bullet point styles. Example: >MFW OP is a fag >thinks I'm not fappin to his waifu >saged, reported, and called the cops
<br/>- There is also reaction images, which can help set the mood/emotion the poster is trying to convey, but in excess can be obnoxious, especially when used without any accompanying text.
<br/>- Over all, Shitposting here will be defined as posts failing to be constructive, informative, or entertaining in any form. These posts are typically pointless and/or offensive. To elaborate, a joke might not be considered a shitpost, but a rude and/or out of context comment might be.
<br/>- Posts with only 1-2 words without media attachment may also be considered shit posts, unless necessary for the thread/post.

<br/><br/>08) Narutard shit.
<br/>- This primarily relates to the the /an/ board. "Narutard shit" refers to the entry levels of anime fandom that deal in conventions, anime clubs, obsessive fixations of select mainstream anime (such as naruto or dragonball), the belief that dubs are not complete garbage, and all things related to funimation.

<br/><br/>(9) Being a baka.
<br/>_ C Cirno if u want 2 no moar

<br/><br/>10) Disrespectful behavior on /mai/.
<br/>- /mai/ is a place for love and compassion. If you have a problem with someone's waifu, keep it to yourself or post about it on a different but still relevant board.
<br/>- This includes but is not limited to name calling, insulting, making fun of, or trash talking someone's waifu or the poster.

<br/><br/>11) Excessive flaming, trolling, or harassing other users.
<br/>- This refers to behavior that involves deliberately attacking or insulting other users. While TC is not an SJW hug box (outside of /mai/), going out of your way to upset/bother people is not cool and will not be tolerated.
<br/>- Note that if someone disagrees with you or finds your posts offensive without you purposefully trying to upset or offend them, that is entirely their problem and is not in violation of this rule.

<br/><br/>12) Announcing you or another poster is female or drawing attention to this matter.
<br/>- We DO NOT have a ban on women here, and this would be impossible to enforce even if we did. What we are not allowing here is openly stating or implying that you're female.
<br/>- People on sites like these tend to loose their shit and turn into mindless idiots when women show up. It also aggravates and upsets many of those in our user base.

<br/><br/>13) Drug discussion outside of /420/
<br/>- This deals with any and all discussion related to illegal narcotics or controlled substances as well as sharing links on where to buy/acquire them.
<br/>- Discussion related to these substances is strictly to be kept on http://tohno-chan.com/420
<br/>- However, even on /420/ any discussion related to the sale or purchasing of illegal drugs is still forbidden (see rule 1).
<br/><br/>_____

<br/><br/>The following are rules, but are not as severe infractions. Many of these are just as much for your own good as for the site, something like friendly advice. These actions may likely result in your post or media being deleted, and repeated infractions may result in a warning or ban, length of which to be determined by a moderator. Many of these are only clarifying what the above rules would apply to.

<br/><br/>Ex.01) Emoticons. E.g. :-) and xD.
<br/>- They're obnoxious >.>

<br/><br/>Ex.02) Political, religious, or gender discussion outside of /tat/.
<br/>- Generally it just pisses people off, starts fights, and never leads to anything good. Best to avoid these topics. However they are free to be discussed on /tat/ so long as the rest of the site rules are abided by.

<br/><br/>Ex.03) Announcing that you're from 4chan.
<br/>- People here really don't much like 4chan or people from it, so best kept to yourself on that one.

<br/><br/>Ex.04) Creating threads that already exist.
<br/>- Because the flow of traffic on TC is so slow, we prefer not to have multiple threads dealing in the same subject. A thread for anime xyz isn't likely to get many posts anyway, so the last thing we need are tons of empty threads about it.
<br/>- Just look for a thread related to what you're looking to talk about and post in that instead.

<br/><br/>Ex.05) Encouraging others to commit suicide.
<br/>- This should be self explanatory. Telling people to kill themselves isn't cool. See rules 1 and 11.

<br/><br/>Ex.06) Misusing or abusing spoilers.
<br/>- This mainly involves trying to hide rule breaking content by using spoiler tags, or using spoiler tags needlessly (to hide text that isn't a spoiler).

<br/><br/>Ex.07) Meta-posts and complaining about the community's views/opinions outside of /fb/.
<br/>- If you've got a problem with TC or it's userbase, take it to /fb/. That's what /fb/ is for.

<br/><br/>Ex.08) Mentioning your family and or loved ones.
<br/>- Many if not most of us here are bitter losers who have no one. We don't want to hear about your wife/girlfriend/friends/kids. so don't post about it. Brothers, sisters, parents and other such unavoidable relatives are fine however (within reason; see rule 6).

<br/><br/>Ex.09) Moronic behavior in general.
<br/>- Typos and misspellings are one thing, but try to avoid memes, what you'd like to do with your genitals, and senseless vulgarity. See rules 7 through 11.

<br/><br/>Ex.10) Western media.
<br/>- This site is built primarily around japanese media, as such it's generally best to avoid bringing up too much western media. Exceptions can be made for western games on /vg/.
<br/><br/>_____

<br/><br/>Those that cannot follow the rules shown on this page will be dealt with by our moderators as they they see fit. Don't be surprised if your post gets deleted. Minor infractions may likely result in a warning. Major infractions or multiple warnings will result in a ban with the duration depending on the situation and the judgement of the moderator carrying out the ban.
</div>


<!--Donations-->
<div id="Tab5" style="display: none;">
<div class="NewsTitleStrip">supporters</div><br/>
<br/>

Here you can find a list of our currently supported donation platforms/methods. Bellow that, are some generious people who help keep us going!<br/>
<br/><br/>patreon.com/tohno
<br/><br/>ko-fi.com/tohno
<br/><br/>
<br/><br/>Shinden9 - via patreon
<br/><br/>赤いアオカケス - via patreon
<br/><br/>Cedar - via patreon
<br/><br/>Vexed - via patreon
<br/><br/>Killo - via ko-fi

</div>



<!--boards tab-->
<div id="Tab4" style="display: none;">
<div class="NewsTitleStrip">Boards</div>
<div class="NewsContent">



  <center>Here you can find a brief description of each board. </center><br/>
 <center>Most are pretty self explanatory, but many people, especially those new here, might not be sure about what goes where.</center>
<br/>
<br/>

<b>/a/ - Anime</b> <br/>
This is the anime board.
All things anime related, both new and old are welcome here.<br/>

<br/>
<b>/m/ - Manga</b> <br/>
Although primarily meant and used for manga, this board can also be used for general literature.<br/>

<br/>
<b>/mai/ - Waifu</b> <br/>
If you wish to analyze the concept of falling in love with a two dimensional representation of a human female, or simply dump some pics of your waifu, this board is one to make what you will of it.<br/>
Just remember to please respect each others loved ones.<br/>

<br/>
<b>/foe/ - Touhou</b> <br/>
Any and all things touhou related go here. That means stuff more appropriate for others boards, though every now and then is alright.<br/>

<br/>
<b>/vg/ - Video Games</b> <br/>
Home to the more popular and interactive media known as games.<br/>
Console, PC, or hand-held, it's all good.<br/>

<br/>
<b>/mp3/ - Music</b> <br/>
This board is for the discussing and posting of music and other forms of audio.<br/>

<br/>
<b>/vn/ - Visual Novels</b> <br/>
This board is not only for Japan's interactive novels and dating sims, but also for Japanese games that don't quite fit in /vg/.<br/>

<br/>
<b>/navi/ - science & technology</b> <br/>
While the main forcus might be tech, this is a place were people can discuss Literature, science, math, astronomy, history, etc.<br/>
A kind of... all-purpose intellectual pursuits board.<br/>

<br/>
<b>/cr/ - Creativity</b> <br/>
Let your creative juices flow on this board. Write something, draw something, or maybe even build something; the key word here is creativity.<br/>

<br/>
<b>/so/ - Ronery</b> <br/>
Feeling sad? Feeling lonely? Feeling hopeless, lost, pathetic, unloved, unappreciated, uncared for, neglected, or confused?<br/>
Feeling ronery?<br/>

<br/>
<b>/ot/ - Off Topic</b> <br/>
Want to make a thread but don't think it fits on any of the other boards? Well this is the place.<br/>
If this board were a category it would be "other".<br/>

<br/>
<b>/txt/ - text</b> <br/>
It's a umm.. text board, for like, text, and stuff. ...yeah I dunno.<br/>

<br/>
<b>/kf/ - Kemono Friends</b> <br/>
A sugoi tanoshi board<br/>
This is where all the friends post!<br/>

<br/>
<b>/pic/ - dump</b> <br/>
This is a place for posting large abouts of images, be it wall papers or fan art.<br/>
As some might ask, This board differs from /ns/ in that, that board is primarily for pornographic images, where as this board is primarily meant to be work safe.<br/>

<br/>
<b>/fig/ - Collectibles</b> <br/>
This board as you might have guessed is mainly for figures and dolls and such, but it's also for other merchandise and items, <br/>
pretty much anything sold that is based animation, game, vn or manga, <br/>
but this is not to say original items and western toys aren't also welcomed.<br/>

<br/>
<b>/navi/ - science & technology</b> <br/>
For all thhings technology, From computers to programing it can be found here. <br/>


<br/>
<b>/ns/ - Hentai</b> <br/>
Dirty boy! Dirty dirty dirty! Fapping material goes here.<br/>

<br/>
<b>/ddl/ - Data</b> <br/>
Here you can upload files or post links to files hosted off-site for sharing with others.<br/>
<br/>

<b>/fb/ - Feedback</b> <br/>
Here you can leave suggestions or ask questions regarding the site itself and even just discuss things related to the site.<br/>
We're very interested in what you think of the site and what you think might make it better for you the users.<br/>





		</div>
	</div>
		</div>
		


</div>


<br/>
<br/>

<!--info-->
<center>


<br/><br/><br/>

</center>
</div>

<br />


<!--footer-->
<center><div class="sitemap">
<table width="100%" cellpadding="0">
<td width="20%">
</td>
<td width="60%" align="center">
<?PHP include_once("linkbar.html"); ?>
</td>
<td width="20%" align="right">
<?PHP include_once("https://www.tohno-chan.org/styleselect.html"); ?>
</td>
</table>
</div></center>





  <P ALIGN="right">


<td style="text-align: right;">





			</td>


  <P ALIGN="right">


<td style="text-align: right;">

</div>



		</tr>
	</table>
</div>

</p>



<!--------------------------------------news tab test zone------------------------------------------------------>
	
	
	<div class="box-wrap">

	    <br>

	   
	   
		<div class="mainBox">
			<h2>Stats</h2>
			<ul>
				<li>Total posts: {{ stats.total_posts }}</li>
				<li>Unique posters: {{ stats.unique_posters }}</li>
				<li>Active content: {{ stats.active_content|filesize }}</li>
			</ul>
		</div>
	</div>
	
	<hr/>

	{% include 'footer.html' %}
<script type="text/javascript">
	init_stylechooser();
	readyStyleSelector();
</script>

</body>
</html>
