body {
	background:#2C2C2C;
	color:#E5E5E5;
font-family:calibri;
font-size:inherit ;
}
a:link, a:visited {
	color:#339999;
	text-decoration: none;
}
a:hover {
	color:#000000;
	text-decoration: underline;
}
.reflink a:hover{
	font-weight: bold;
}
.adminbar {
	text-align:right;
	clear:both;
	float:right;
}
header div.boardname,h1 {
	/* board name, such as "/a/ - anime" */
	clear: both;
        font-size:24px;
	text-align: center;
	font-weight: bold;
	font-size: 2.3em;
        color: #E5E5E5;
	width: 100%;
	padding-bottom: 10px;
}
header div.subtitle {
	/* the text bellow the board name */
	        color: #E5E5E5;
}
div.banner {
		/* posting mode bar at the top of the page, not the image banner */ 

	background-color: #E5E5E5;
	color: #000000;
	font-weight: bold;
	font-size: 120%;
	padding: 3px;
	text-align: center;
}
.catalogmode {
	background:#0040E0;
	text-align:center;
	padding:2px;
	color:#FFFFFF;
	width:100%;
}
.postarea {
}
.rules {
	/*font-size:0.7em;*/
	width: 468px;
	font-size: 10px;
	font-family: sans-serif;
}
.rules li {
	margin-left: 1em;
	/*text-indent: 0em;*/
}
.postblock {

margin-right:-1px !important;

padding:0 3px !important;

border:solid 1px #555 !important;

border-right-style: none !important;

text-align:center !important;
}
.footer {
	text-align:center;
	font-size:12px;
	font-family:serif;
}
.passvalid {
	background:#EEAA88;
	text-align:center;
	width:100%;
	color:#ffffff;
}
.dellist {
	font-weight: bold;
	text-align:center;
}
.delbuttons {
	text-align:center;
	padding-bottom:4px;

}
.managehead {
	background:#AAAA66;
	color:#400000;
	padding:0px;
}
.postlists {
	background:#FFFFFF;
	width:100%;
	padding:0px;
	color:#800000;
}
.row1 {
	background:#EEEECC;
	color:#800000;
}
.row2 {
	background:#DDDDAA;
	color:#800000;
}
.unkfunc {
	background:inherit;
	color:#789922;
}
.filesize {
	text-decoration:none;
}
.intro span.subject {
	color: #E5E5E5;
	font-weight: bold;
}
.intro span.name {
        color:#D3D3D3 !important;
font-family: calibri;

}
span.trip {
	color:#D3D3D3 !important
}
.oldpost {
	color:#CC1105;
	font-weight:800;
}
.omittedposts {
	color:#707070;
}
div.post.reply {
	/* This is the comment or reply box found in a thread responding to the OP */ 
	background: #333333;
	color: #e5e5e5;
        -moz-border-radius:0px 6px 6px 0px !important;border: 1px solid #4b4b4b!important;width: 100% !important;

}
div.post.reply.highlighted {
		/* This is the comment or reply box WHEN HIGHLIGHTED (not sure if it really is)*/ 
background-color:#003333 !important;
-moz-border-radius:0px 6px 6px 0px !important;border: 1px solid #4B4B4B !important;width: 100% !important;
}

div.post.reply div.body a:link, div.post.reply div.body a:visited {
	color: #339999;
}
div.post.reply div.body a:link:hover, div.post.reply div.body a:visited:hover {
	color: #000000;
}
span.quote {
		color: #737373;
}
.doubledash {
	color:#E5E5E5;
	padding-right: 3px;
	vertical-align: top;
}
.replytitle {
	font-size: 1.2em;
	color:#CC1105;
	font-weight:800;
}
.commentpostername {
	color:#117743;
	font-weight:800;
}
.thumbnailmsg {
	font-size: small;
	color:#800000;
}

.abbrev {
	color:#707070;
}
.highlight {
background-color:#003333 !important;
padding:3px !important;
-moz-border-radius:0px 6px 6px 0px !important;border: 1px solid #4B4B4B !important;width: 100% !important;
}

#watchedthreads {
	background-color: #F0E0D6 !important;
        border: 1px dotted #EEAA88;
}

.reflinkpreview {
	background-color: #333333 !important;
 -moz-border-radius:0px 6px 6px 0px !important;border: 1px solid #4b4b4b !important;

}

input[type="text"], textarea, select {
  color:#E5E5E5; 
  font: bold 70% 'trebuchet ms',helvetica,sans-serif; 
  background-color:#4B4B4B; 
border: 1px solid #cecece;
} 


.hl
{
font-weight:bold;
font-size:10pt;
background-image:url('http://www.tohno-chan.com/uploads/user/submenubgv2_ib4f.png');
background-color: #9988EE !important;
padding:5px;
border: 1px solid #000000;  
}




.tablesub
{
font-weight:none;
color: #E5E5E5;
border:1px solid #000000;
background-color: #333333!important;
padding:5px;
}

.tablesub:hover 
{
font-weight:none;
background-image:url('http://www.tohno-chan.com/uploads/user/tablesubBGHOVER_ib4f.png');
color:#0000ff;
background-color: #D6DAF0 !important;
font-size:10pt;
padding:5px;
border: 1px solid #000000; 
border-top: 1px solid #000000; 
border-left: 1px solid #000000; 
}


.picslot
{
font-weight:none;
background-image:url('http://www.tohno-chan.com/uploads/user/picslotBG_ib4f.png');
background-color: #D6DAF0 !important;
padding:4px;
border: 1px solid #000000;  
border-top: 1px solid #000000;
}


.picitself
{
img-position: center top !important;
filter:alpha(opacity=60);
opacity:0.9;
max-width:200px;
max-height:120px;
display: block;
margin-left: auto;
margin-right: auto
}

.banner
{ 
background: url('http://tohno-chan.com/uploads/user/bannerBGv2_0_ib4f.png'); 
background-position:center;
background-repeat:no-repeat !important;
padding: 0 6px 7px 0;
}

.fpfooter
{
background: url('http://tohno-chan.com/uploads/user/frontcorner_ib4f.png');  
background-position:left; 
background-repeat:no-repeat !important;
height:60px;
top:30px;
padding-top:50px;
padding-bottom:-60px; 
margin-bottom:-50px;

}


.tabletop, .mainBox h2
{
font-weight:bold;
color: #E5E5E5;
border:1px solid #000000;
background-color: #003333!important;
padding:5px;
}
 .tabletop2
{
font-weight:bold;
color: #E5E5E5;
border:1px solid #000000;
background-color: #003333!important;
padding:5px;
}

.tablesub, .mainBox
{
font-weight:none;
color: #E5E5E5;
border:1px solid #000000;
background-color: #333333!important;
padding:5px;
}

 .tablesub:hover 
{
border:1px solid #000000;
background-color:#003333 !important;
background:#FFCCAA none repeat scroll 0;
color:#E5E5E5;
font-weight:none;
font-size:10pt;
padding:5px;
}

.picslot
{
font-weight:none;
border:1px solid #000000;
	background-color: #333333!important;
padding:4px;
}

.picitself
{
img-position: center top !important;
filter:alpha(opacity=60);
opacity:0.9;
max-width:200px;
max-height:113px;
display: block;
 margin-left: auto;
margin-right: auto;
}

.reply blockquote, blockquote
{
margin-bottom:0;
padding-bottom:10px;
}


.NewsMenuCurrent
{
	background: #333333;
        background-image:url('');
        border: 1px solid #000000;
	border-bottom: 0px;
	padding-top: 3px; 
	padding-bottom: 2px; 
	padding-left: 10px; 
	padding-right: 10px; 
	cursor: hand;
	cursor: pointer;
        color: #E5E5E5;
}	

.NewsMenu
{
	border: 1px solid #E5E5E5;  
	padding-top: 3px; 
	padding-bottom: 2px; 
	padding-left: 10px; 
	padding-right: 10px; 
	background-color: #003333 ;	
        color: #E5E5E5;
        background-repeat: no-repeat;
        repeat scroll 0;
        cursor: hand;
	cursor: pointer;
}

.NewsTitleStrip
{
	background: #333333;
        background-image:url('');
        border: 1px solid #000000;
	font-weight: bold;
	color: #E5E5E5;
	padding: 3px;
	padding-left: 5px;
	font-size: 80%;
}

.NewsContent, h2
{
	color: #E5E5E5;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 10pt;
}
hr {
	border-top: 1px solid #297085;
        color:#297085;	
        height: 1px;
	margin-top: 5px;
	margin-bottom: 15px;
	float: clear;
	font-size: 0px; 
}
.Spacer {
  border-bottom: 1px solid;
  color: #339999;
  height: 1px;
  margin-top: 5px;
  margin-bottom: 15px;
  float: clear;
  font-size: 0px;
}
.PagingTable
{
border:solid 1px #555 !important;

background:transparent !important;
}

.PagingTable td
{
	border: 0px solid rgb(216, 178, 178);
 background-image:url('');
	padding: 0px;
}


input
{ 

font-weight:none;
background:#4B4B4B url( ) repeat scroll left top; 
padding:1px;
border: 1px solid #cecece; 
color:#E5E5E5;
}

.comment
{ 

font-weight:none;
background:#4B4B4B url( ) repeat scroll left top; 
padding:1px;
border: 1px solid #cecece; 
color:#E5E5E5;
}

form table tr th {
/* bars on the top and side of the config editor page but also affects .postblock, use !important; on the post block so this doesn't effect that too */
border:1px solid #000000;
background-color: #2C2C2C;
}