

body {
        background-image: url('http://tohno-chan.org/stylesheets/img/Tohno/bgcorner.jpg'), url('http://tohno-chan.org/stylesheets/img/Tohno/starbg.jpg');
	background-position: right bottom, left top;
        background-repeat: no-repeat, repeat;
        background-color:#8f3da6;
        background-attachment:fixed,fixed;
        color:#fcc9ce;

}



a, a:visited {
  text-decoration: underline;
  color: #F59EA6;
}

a:hover, .options_tab_icon.active, .intro a.post_no:hover {
  color: #fdefee;
}

.reflink a:hover{
	font-weight: bold;
}


.adminbar {
	text-align:right;
	clear:both;
	float:right;
}
.logo {
	clear:both;
	text-align:center;
	font-size:2em;
	color:#e77899;
	width:100%;
}
div.banner {
	background:#E04000;
	text-align:center;
	padding:2px;
	color:#FFFFFF;
	width:100%;
}
div.banner 
{
	/* posting mode bar at the top of the page */ 
border-radius: 30px;
  padding-left: 5px;
  padding-right: 5px;
  border: 2px solid #c35197;
  background: #e88da8;
  color: #fde3e4;
  font-weight: 750;
}
.postarea {
}
.rules {
	/*font-size:0.7em;*/
	width: 468px;
	font-size: 10px;
	font-family: sans-serif;
}
.rules li {
	margin-left: 1em;
	/*text-indent: 0em;*/
}
.postblock {
border-radius:30px;
padding-left: 5px ;
padding-right: 5px ;
border: 2px solid #c35197;
	background:#e88da8;
	color:#fde3e4;
	font-weight:750;
}
.footer {
	text-align:center;
	font-size:12px;
	font-family:serif;
}
.passvalid {
	background:#EEAA88;
	text-align:center;
	width:100%;
	color:#ffffff;
}
.dellist {
	font-weight: bold;
	text-align:center;
}
.delbuttons {
	text-align:center;
	padding-bottom:4px;

}
.managehead {
	background:#AAAA66;
	color:#400000;
	padding:0px;
}
.postlists {
	background:#FFFFFF;
	width:100%;
	padding:0px;
	color:#800000;
}
.row1 {
	background:#EEEECC;
	color:#800000;
}
.row2 {
	background:#DDDDAA;
	color:#800000;
}
.unkfunc {
	background:inherit;
	color:#789922;
}
.filesize {
	text-decoration:none;
}
.filetitle {
	background:inherit;
	font-size:1.2em;
	color:#661250;
	font-weight:800;
}
.intro span.name {
	color:#bc50a0;
	font-weight:bold;
}
.intro a.email span.name {
  color: #BD84AF;
}
.intro a.email span.name:hover {
  color: #E6B2D9;
}
span.trip  {
	color:#bc50a0;
}
.oldpost {
	color:#CC1105;
	font-weight:800;
}
span.quote {
  color: #e47498;
}
.omittedposts {
	color:#707070;
}
div.post.reply {
border-radius:30px;

border: 2px solid #c35197; 
	background: #e88da8;
	color: #63269d;
}
div.post.reply.highlighted {
	border-radius:30px;

border: 2px solid #cc5d97; 
	background:#f9a4ad;
	color:#84339a;
}
.doubledash {
        color:#5f16a7;
	vertical-align:top;
	clear:both;
	float:left;
}
.replytitle {
	font-size: 1.2em;
	color:#CC1105;
	font-weight:800;
}
.commentpostername {
	color:#117743;
	font-weight:800;
}
.thumbnailmsg {
	font-size: small;
	color:#800000;
}

.abbrev {
	color:#707070;
}


#watchedthreads {
	background-color: #F0E0D6 !important;
}

.reflinkpreview {
border-radius:30px;

        border: 2px solid #c35197 !important;
	background-color: #8f3da6 !important;
}

#box{
border-style:solid;
border:solid;
border:thin;
border-color:#000066;
}
input.btn,input[type="submit" i] { 
border-radius:30px;

border: 2px solid #c35197;
  color:#fde3e4; 
  background-color:#d35d98; 
} 




.hl
{
font-weight:bold;
font-size:10pt;

background-color: #9988EE !important;
padding:5px;
border: 1px solid #000000;  
}







img.board_image {

box-shadow: 0px 0px 10px #febebe;
border: 0px solid #000000; 
}

.fpfooter
{


height:60px;
top:30px;
padding-top:50px;
padding-bottom:-60px; 
margin-bottom:-50px;

}


 .tabletop, .mainBox h2
{
border-radius:30px; 

        border: 2px solid #c35197; 
	background: #ce5791;
	color: #63269d;
        font-weight:bold;
        padding:5px;
        margin:2px;

}
 .tabletop2
{
border-radius:30px;

        border: 2px solid #c35197; 
	background: #ce5791;
	color: #63269d;
        font-weight:bold;
        padding:5px;
        margin:2px;

}
.tablesub, .mainBox
{
border-radius:30px;

border: 2px solid #c35197; 
	background: #e88da8;
	color: #63269d;
font-weight:none;
  font-weight:none;
  font-size:10pt;
  padding:5px;
        margin:2px;

}

 .tablesub:hover 
{
border-radius:30px;
        border: 2px solid #c35197; 
	background: #ce5791;
	color: #63269d;
        font-weight:none;
        font-size:10pt;
        padding:5px;
        margin:2px;
}

.picslot
{
border-radius:30px;
        border: 2px solid #d56699; 
	background: #e88da8;
	color: #63269d;
font-weight:none;

padding:10px;
        margin:2px;
-moz-box-shadow:     0px 0px  20px 10px    #d56699;
-webkit-box-shadow:  0px 0px  20px 10px    #d56699;
box-shadow:          0px 0px  20px 10px    #d56699;

}

.picitself
{
img-position: center top !important;
filter:alpha(opacity=60);
opacity:0.9;
max-width:200px;
max-height:113px;
display: block;
 margin-left: auto;
margin-right: auto;
}

.reply blockquote, blockquote
{
margin-bottom:0;
padding-bottom:10px;
}


.NewsMenuCurrent
{
	border-radius:30px; 
	border: 2px solid #c35197; 
	background: #d56699;
	color: #63269d;
	padding-top: 3px; 
	padding-bottom: 2px; 
	padding-left: 10px; 
	padding-right: 10px; 
	cursor: hand;

}	

.NewsMenu
{
border-radius:30px;
        border: 2px solid #c35197; 
	background: #e88da8;
	color: #63269d; 
	padding-top: 3px; 
	padding-bottom: 2px; 
	padding-left: 10px; 
	padding-right: 10px; 	
        background-image:url('');
        cursor: hand;
	cursor: pointer;
}

.NewsTitleStrip
{
border-radius:30px;
        border: 2px solid #c35197; 
	background: #d56699;
	color: #63269d;
	font-weight: bold;
	color: #63269d;
	padding: 3px;
	padding-left: 5px;
	font-size: 80%;
}

.NewsContent
{
	color: #63269d;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 10pt;
}


input
{ 
border-radius:30px;

border: 2px solid #c35197;
font-weight:none;
background:#feebea url( ) repeat scroll left top; 
padding:1px; 
color:#5f16a7;
}

.comment
{ 
border-radius:30px;

border: 2px solid #c35197;
font-weight:none;
background:#feebea url( ) repeat scroll left top; 
padding:1px;
color:#5f16a7;
}

.PagingTable
{
border-radius:50px;
background: #d35d98;
border: 2px solid #f2a3b2; 
color:#702fad;
}

hr 
{
border: 1px solid;
color:#c35197;	
margin-bottom: 15px;
float: clear;
font-size: 0px; 
}


.options_tab_icon.active {
  color: #c35197;
}

h2 {
  color: #c35197;
  font-size: 11pt;
  margin: 0;
    margin-bottom: 0px;
  padding: 0;
}


header div.boardname,h1 
{
	/* board name, such as "/a/ - anime" */
  color: #c35197;
}
 
 
header div.subtitle 
{
	/* the text bellow the board name */
  color: #c35197;
}
.intro span.subject {
  color: #75207B;
  font-weight: bold;
}


div.post.reply div.body a {
  color: #FFCBD0;
}

div.pages 
{
	/* board pages box on the bottom of a board page which also has the catalog link */ 
border-radius: 30px;
  border: 2px solid #c35197;
  color: #fde3e4;
  background-color: #d35d98;
}

div.boardlist 
{
	/* this is the board map on the top of the page that follows the page as you scroll */
		border-radius: 30px;
  border: 2px solid #c35197;
  color: #fde3e4;
  background-color: #d35d98;
}
	
	
div.pages a.selected {
  color: #fde3e4;
  font-weight: bolder;
}

div.boardlist.bottom
{
    /* list of boards on the bottom of a page */
	border-radius: 30px;
  border: 2px solid #c35197;
  color: #fde3e4;
  background-color: #d35d98;
}










