

body {
        background-image: url('http://tohno-chan.com/images/themes/Tohno/bgcorner.jpg'), url('http://Tohno-chan.com/images/themes/Tohno/starbg.jpg');
	background-position: right bottom, left top;
        background-repeat: no-repeat, repeat;
        background-color:#8f3da6;
        background-attachment:fixed,fixed;
        color:#fcc9ce;

}



a {
	color:#fde3e4;
}
a:hover {
	color:#DD0000;
}
.reflink a:hover{
	font-weight: bold;
}


.adminbar {
	text-align:right;
	clear:both;
	float:right;
}
.logo {
	clear:both;
	text-align:center;
	font-size:2em;
	color:#e77899;
	width:100%;
}
.replymode {
	background:#E04000;
	text-align:center;
	padding:2px;
	color:#FFFFFF;
	width:100%;
}
.catalogmode {
	background:#0040E0;
	text-align:center;
	padding:2px;
	color:#FFFFFF;
	width:100%;
}
.postarea {
}
.rules {
	/*font-size:0.7em;*/
	width: 468px;
	font-size: 10px;
	font-family: sans-serif;
}
.rules li {
	margin-left: 1em;
	/*text-indent: 0em;*/
}
.postblock {
-moz-border-radius:30px; 
padding-left: 5px ;
padding-right: 5px ;
border: 2px solid #c35197;
	background:#e88da8;
	color:#fde3e4;
	font-weight:750;
}
.footer {
	text-align:center;
	font-size:12px;
	font-family:serif;
}
.passvalid {
	background:#EEAA88;
	text-align:center;
	width:100%;
	color:#ffffff;
}
.dellist {
	font-weight: bold;
	text-align:center;
}
.delbuttons {
	text-align:center;
	padding-bottom:4px;

}
.managehead {
	background:#AAAA66;
	color:#400000;
	padding:0px;
}
.postlists {
	background:#FFFFFF;
	width:100%;
	padding:0px;
	color:#800000;
}
.row1 {
	background:#EEEECC;
	color:#800000;
}
.row2 {
	background:#DDDDAA;
	color:#800000;
}
.unkfunc {
	background:inherit;
	color:#789922;
}
.filesize {
	text-decoration:none;
}
.filetitle {
	background:inherit;
	font-size:1.2em;
	color:#661250;
	font-weight:800;
}
.postername {
	color:#bc50a0;
	font-weight:bold;
}
.postertrip {
	color:#bc50a0;
}
.oldpost {
	color:#CC1105;
	font-weight:800;
}
.omittedposts {
	color:#707070;
}
.reply {
-moz-border-radius:30px; 

border: 2px solid #c35197; 
	background: #e88da8;
	color: #63269d;
}
.highlight {
-moz-border-radius:30px; 

border: 2px solid #cc5d97; 
	background:#f9a4ad;
	color:#84339a;
}
.doubledash {
        color:#5f16a7;
	vertical-align:top;
	clear:both;
	float:left;
}
.replytitle {
	font-size: 1.2em;
	color:#CC1105;
	font-weight:800;
}
.commentpostername {
	color:#117743;
	font-weight:800;
}
.thumbnailmsg {
	font-size: small;
	color:#800000;
}

.abbrev {
	color:#707070;
}


#watchedthreads {
	background-color: #F0E0D6 !important;
}

.reflinkpreview {
-moz-border-radius:30px; 

        border: 2px solid #c35197 !important;
	background-color: #8f3da6 !important;
}

#box{
border-style:solid;
border:solid;
border:thin;
border-color:#000066;
}
input.btn { 
-moz-border-radius:30px; 

border: 2px solid #c35197;
  color:#fde3e4; 
  font: bold 70% 'trebuchet ms',helvetica,sans-serif; 
  background-color:#d35d98; 
  filter:progid:DXImageTransform.Microsoft.Gradient 
  (GradientType=0,StartColorStr='#ffffffff',EndColorStr='#ffeeddaa'); 
} 


.hl
{
font-weight:bold;
font-size:10pt;
background-image:url('http://www.tohno-chan.com/uploads/user/submenubgv2_ib4f.png');
background-color: #9988EE !important;
padding:5px;
border: 1px solid #000000;  
}







.banner
{ 
background: url('http://Tohno-chan.com/images/themes/Tohno/banbg.jpg'); 
background-position:center;
background-repeat:no-repeat;
padding: 0 4px 21px 0;
}

.fpfooter
{
background: url('http://tohno-chan.com/uploads/user/frontcorner_ib4f.png');  
background-position:left; 
background-repeat:no-repeat !important;
height:60px;
top:30px;
padding-top:50px;
padding-bottom:-60px; 
margin-bottom:-50px;

}


 .tabletop
{
       -moz-border-radius:30px; 

        border: 2px solid #c35197; 
	background: #ce5791;
	color: #63269d;
        font-weight:bold;
        padding:5px;
        margin:2px;

}
 .tabletop2
{
       -moz-border-radius:30px; 

        border: 2px solid #c35197; 
	background: #ce5791;
	color: #63269d;
        font-weight:bold;
        padding:5px;
        margin:2px;

}
.tablesub
{
-moz-border-radius:30px; 

border: 2px solid #c35197; 
	background: #e88da8;
	color: #63269d;
font-weight:none;
  font-weight:none;
  font-size:10pt;
  padding:5px;
        margin:2px;

}

 .tablesub:hover 
{
        -moz-border-radius:30px; 
        border: 2px solid #c35197; 
	background: #ce5791;
	color: #63269d;
        font-weight:none;
        font-size:10pt;
        padding:5px;
        margin:2px;
-moz-box-shadow:     0px 0px  20px 5px    #d56699;
-webkit-box-shadow:  0px 0px  20px 5px    #d56699;
box-shadow:          0px 0px  20px 5px    #d56699;
}

.picslot
{
-moz-border-radius:30px; 
        border: 2px solid #d56699; 
	background: #e88da8;
	color: #63269d;
font-weight:none;

padding:10px;
        margin:2px;
-moz-box-shadow:     0px 0px  20px 10px    #d56699;
-webkit-box-shadow:  0px 0px  20px 10px    #d56699;
box-shadow:          0px 0px  20px 10px    #d56699;

}

.picitself
{
img-position: center top !important;
filter:alpha(opacity=60);
opacity:0.9;
max-width:200px;
max-height:113px;
display: block;
 margin-left: auto;
margin-right: auto;
}

.reply blockquote, blockquote
{
margin-bottom:0;
padding-bottom:10px;
}


.NewsMenuCurrent
{
-moz-border-radius:30px; 
        border: 2px solid #c35197; 
	background: #d56699;
	color: #63269d;
	padding-top: 3px; 
	padding-bottom: 2px; 
	padding-left: 10px; 
	padding-right: 10px; 
	cursor: hand;

}	

.NewsMenu
{
        -moz-border-radius:30px; 
        border: 2px solid #c35197; 
	background: #e88da8;
	color: #63269d; 
	padding-top: 3px; 
	padding-bottom: 2px; 
	padding-left: 10px; 
	padding-right: 10px; 	
        background-image:url('');
        cursor: hand;
	cursor: pointer;
}

.NewsTitleStrip
{
        -moz-border-radius:30px; 
        border: 2px solid #c35197; 
	background: #d56699;
	color: #63269d;
	font-weight: bold;
	color: #000000;
	padding: 3px;
	padding-left: 5px;
	font-size: 80%;
}

.NewsContent
{
	color: #000000;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 10pt;
}


input
{ 
-moz-border-radius:30px; 

border: 2px solid #c35197;
font-weight:none;
background:#feebea url( ) repeat scroll left top; 
padding:1px; 
color:#5f16a7;
}

.comment
{ 
-moz-border-radius:30px; 

border: 2px solid #c35197;
font-weight:none;
background:#feebea url( ) repeat scroll left top; 
padding:1px;
color:#5f16a7;
}

.PagingTable
{
-moz-border-radius:50px; 
background: #d35d98;
border: 2px solid #f2a3b2; 
color:#702fad;
}

.Spacer{
border-bottom: 1px solid;
color:#5f16a7;	
height: 1px;
margin-top: 5px;
margin-bottom: 15px;
float: clear;
font-size: 0px; 
}
hr{
border-bottom: 1px solid;
color:#5f16a7;	
height: 1px;
margin-top: 5px;
margin-bottom: 15px;
float: clear;
font-size: 0px; 
}