<footer>
    <p class="unimportant" style="margin-top:20px;text-align:center;">
	
	<!--links-->
[
<A HREF="http://tohno-chan.com/r/" title="rules" TARGET="_top">Rules</A>
]
[
<A HREF="http://tohno-chan.com/an/" title="anime" TARGET="_top">an</A>
/
<a href="http://tohno-chan.com/foe" title="Touhou" TARGET="_top">foe</A>
/
<a href="http://tohno-chan.com/ma" title="manga" TARGET="_top">ma</A>
/
<A HREF="http://tohno-chan.com/mp3" title="music" TARGET="_top">mp3</a>
/
<a href="http://tohno-chan.com/vg" title="video games" TARGET="_top">vg</A>
/
<a href="http://tohno-chan.com/vn" title="Visual Novels" TARGET="_top">vn</A>
]

[
<A HREF="http://tohno-chan.com/cr" title="creativity" TARGET="_top">cr</a>
/
<a href="http://tohno-chan.com/fig" title="collectibles" TARGET="_top">fig</A>
/
<a href="http://tohno-chan.com/navi" title="Science & technology" TARGET="_top">navi</A>
]

[
<a href="http://tohno-chan.com/mai" title="waifu" TARGET="_top">mai</A>
/
<a href="http://tohno-chan.com/ot" title="off topic" TARGET="_top">ot</A>
/
<a href="http://tohno-chan.com/so" title="ronery" TARGET="_top">so</A>
/
<a href="http://tohno-chan.com/tat" title="Debates" TARGET="_top">tat</A>
]

[
<a href="http://tohno-chan.com/arc/index.php" title="archive" TARGET="_top">arc</A>
/
<a href="http://tohno-chan.com/ddl" title="data" TARGET="_top">ddl</A>
/
<a href="http://tohno-chan.com/irc" title="irc" TARGET="_top">irc</A>
/
<a href="http://tohno-chan.com/lol" title="shit" TARGET="_top">lol</A>
/
<a href="http://tohno-chan.com/ns" title="hentai" TARGET="_top">ns</A>
/
<a href="http://tohno-chan.com/pic" title="dump" TARGET="_top">pic</A>
]

[
<a href="http://tohno-chan.com" title="front page" TARGET="_top">home</A>
]

	</p>
    {% for footer in config.footer %}<p class="unimportant" style="text-align:center;">{{ footer }}</p>{% endfor %}
</footer>
