<!--links-->
<center>
[ <A HREF="http://tohno-chan.org/r/" title="rules" TARGET="_top">Rules</A> ] 
 
[ <A HREF="http://tohno-chan.org/an/" title="anime" TARGET="_top">an</A>
 / 
<a href="http://tohno-chan.org/foe" title="Touhou" TARGET="_top">foe</A>
 / 
<a href="http://tohno-chan.org/ma" title="manga" TARGET="_top">ma</A>
 / 
<A HREF="http://tohno-chan.org/mp3" title="music" TARGET="_top">mp3</a>
 / 
<a href="http://tohno-chan.org/vg" title="video games" TARGET="_top">vg</A>
 / 
<a href="http://tohno-chan.org/vn" title="Visual Novels" TARGET="_top">vn</A> ]
 
[ <A HREF="http://tohno-chan.org/cr" title="creativity" TARGET="_top">cr</a>
 / 
<a href="http://tohno-chan.org/fig" title="collectibles" TARGET="_top">fig</A>
 / 
<a href="http://tohno-chan.org/navi" title="Science & technology" TARGET="_top">navi</A> ]
 
[ <a href="http://tohno-chan.org/mai" title="waifu" TARGET="_top">mai</A>
 / 
<a href="http://tohno-chan.org/ot" title="off topic" TARGET="_top">ot</A>
 / 
<a href="http://tohno-chan.org/so" title="ronery" TARGET="_top">so</A>
 / 
<a href="http://tohno-chan.org/tat" title="Debates" TARGET="_top">tat</A> ]
 
[ <a href="http://tohno-chan.org/arc/index.php" title="archive" TARGET="_top">arc</A>
 / 
<a href="http://tohno-chan.org/ddl" title="data" TARGET="_top">ddl</A>
 / 
<a href="http://tohno-chan.org/irc" title="irc" TARGET="_top">irc</A>
 / 
<a href="http://tohno-chan.org/lol" title="shit" TARGET="_top">lol</A>
 / 
<a href="http://tohno-chan.org/ns" title="hentai" TARGET="_top">ns</A>
 / 
<a href="http://tohno-chan.org/pic" title="dump" TARGET="_top">pic</A> ]
 
[ <a href="http://tohno-chan.org" title="front page" TARGET="_top">home</A> ]
</center>
